@import './assets/styles/base/reset.css';
@import './assets/styles/base/normalize.css';
@import './assets/styles/variables/variables.css';
@import './assets/styles/utilities/media.css';

html {
    height: 100%;
}

body {
    width: 100%;
    background: var(--color-white);
    background-attachment: fixed;
    color: var(--color-text);
    font-family: Ubuntu, Tahoma, Nimbus Sans L, Free Sans, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
}

:global .main {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
}
